* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}
.banner {
  position: relative;
}
.banner img {
  width: 100%;
}
.banner-text {
  position: absolute;
  top: 20%;
  right: 10%;
  text-align: right;
  width: 50%;
}
.title-text {
  color: #151414;
  font-size: 65px;
  font-weight: 700;
}
.description-text {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  margin: 25px 0;
}
.banner-text .btn {
  border-radius: 5px;
  background: #f15b22;
  color: #fff;
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  padding: 17px 20px;
  border: none;
}
/* Previous year failure style*/
.previous-year-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 100px;
    
}
.picture{
    width: 50%;
    margin-right: 50px;
}
.previous-year-text{
    width: 50%;
}
.previous-year-text h2{
    font-size: 55px;
}
.previous-year-text ul{
    list-style-position: inside;
}
.previous-year-text li{
    margin: 6px 0;
}